* {
  font-family: source sans pro, sans-serif;
}
svg > .item > foreignObject > .content {
  border-width: 2px;
  border-color: gold;
  font-size: 120%;
}
svg > .item > .toggle {
  display: none;
}
svg > .item > .item > foreignObject > .content {
  border-width: 2px;
  font-size: 120%;
}
.item .cut {
  opacity: 0.5;
}
.item .icon {
  font-size: x-large;
}
.item foreignObject {
  overflow: visible;
}
.item .content {
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
.item .content > * {
  flex: none;
}
.item.collapsed .item {
  display: none;
}
.item .text {
  text-align: left;
  min-width: 0.5em;
  min-height: 1.3em;
  line-height: 1.3em;
  outline: none;
  font-size: 120%;
}
.item .item .item .text {
  font-size: 140%;
}
.item .value {
  opacity: 0.7;
}
.item .value:not(:empty)::before {
  content: "(";
}
.item .value:not(:empty)::after {
  content: ")";
}
.item .status {
  font-size: 150%;
  line-height: 1;
}
.item .status.yes::after {
  content: "✔";
  color: #0f0;
}
.item .status.no::after {
  content: "✘";
  color: #f00;
}
.item .toggle {
  cursor: pointer;
}
.item .toggle:not(:hover) {
  opacity: 0.7;
}
.item .toggle circle {
  stroke: #00f;
  fill: #88f;
}
.item .toggle path {
  stroke: #fff;
  stroke-width: 2;
}
.item .notes {
  width: 16px;
  height: 16px;
  background: url("../img/notes-indicator.png") right center no-repeat;
  position: absolute;
  top: -8px;
  right: 0;
  opacity: 0.4;
}
.item:not(.current):not(.collapsed) > .toggle {
  display: none;
}
.item.current > foreignObject > .content {
  background-color: rgba(255, 255, 187, 0.9);
}
[data-shape=box] > foreignObject > .content {
  padding: 0.15em 0.4em;
  background-color: #fff;
  border: 2px solid #666;
  border-radius: 3px;
}
[data-shape=ellipse] > foreignObject > .content {
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 50%;
  padding: 0.5em 1em;
}
[data-align=left] > foreignObject > .content > :not(.text):not(.notes) {
  margin-right: 0.3em;
}
[data-align=right] > foreignObject > .content {
  flex-direction: row-reverse;
}
[data-align=right] > foreignObject > .content > :not(.text):not(.notes) {
  margin-left: 0.3em;
}
@font-face {
  font-family: source sans pro;
  src: system-ui;
}
