* {
  font-family: source sans pro, sans-serif;
}
html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  background-color: #eed;
  -webkit-user-select: none;
}
[contenteditable] {
  -webkit-user-select: auto;
}
svg {
  position: absolute;
  overflow: visible;
}
main {
  position: relative;
}
button:not(:disabled) {
  cursor: pointer;
}
.ghost {
  position: absolute !important;
  opacity: 0.5;
  z-index: 1;
}
#tip {
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: 5px;
}
#tip::before {
  content: "";
}
#tip code {
  padding: 0 4px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}
@font-face {
  font-family: source sans pro;
  src: system-ui;
}
.pane {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  width: 200px;
  box-shadow: 0 0 3px #666;
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
}
.pane[hidden] {
  display: block;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.pane #throbber {
  position: absolute;
  top: 50px;
  left: -60px;
}
.pane h3 {
  background-color: #34495e;
  color: #fff;
  padding: 0.2em 0;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
}
.pane select,
.pane input {
  background-color: transparent;
  border: 1px solid rgba(50, 70, 90, 0.5);
  font-size: 13px;
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all 250ms linear;
  width: 100%;
}
.pane select:hover,
.pane input:hover,
.pane select:focus,
.pane input:focus {
  border-color: #32465a;
}
.pane p {
  margin: 8px 16px;
}
.pane p.desc {
  font-size: 13px;
}
.pane p.row:not([hidden]) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pane label span {
  text-transform: uppercase;
  font-size: 80%;
}
.pane#ui {
  display: flex;
  flex-direction: column;
}
.pane#ui .scrollable {
  flex: auto;
  overflow: auto;
}
.pane#ui button {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 32px;
}
.pane#ui button img {
  display: block;
}
.pane#ui button[data-command=help] {
  position: absolute;
  left: -50px;
  top: 5px;
}
.pane#ui button[data-command=notes] {
  position: absolute;
  left: -90px;
  top: 5px;
}
.pane#ui #toggle {
  position: absolute;
  left: -20px;
  top: 48%;
  width: 35px;
  height: 35px;
  padding: 0 0 0 2px;
  text-align: left;
  border: none;
  background-color: #fff;
  box-shadow: -3px 0 3px -2px #666;
  line-height: 8px;
  border-radius: 50%;
}
.pane#ui #toggle::after {
  content: "→";
  font-weight: bold;
  font-size: 22px;
}
.pane#ui[hidden] #toggle::after {
  content: "←";
}
.pane#ui .color-picker {
  display: flex;
  flex-direction: row;
}
.pane#ui .color-picker [data-color] {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin-right: 2px;
  border: 1px solid transparent;
}
.pane#ui .color-picker [data-color]:hover,
.pane#ui .color-picker [data-color]:first-child {
  border-color: #000;
}
.pane#ui #icons {
  font-size: inherit;
}
.pane#ui #icons,
.pane#ui #icons option {
  font-family: FontAwesome;
}
.pane#ui footer {
  display: flex;
  flex-direction: row;
  padding: 6px 8px;
  align-items: flex-end;
  justify-content: space-between;
}
.pane#ui footer img {
  display: block;
}
.pane#help {
  overflow-y: auto;
  right: auto;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 250px;
}
.pane#help[hidden] {
  transform: translate(-100%, 0);
}
.pane#help p {
  text-transform: uppercase;
  font-size: 80%;
}
.pane#help table {
  width: 100%;
  border-collapse: collapse;
  font-size: 80%;
}
.pane#help table td:first-child {
  padding-left: 16px;
}
.pane#help table td:last-child {
  text-align: right;
  padding-right: 16px;
}
.pane#io button {
  width: 45%;
}
.pane#io button.go {
  font-weight: bold;
}
.pane#notes {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.pane#notes iframe {
  border: 0;
  width: 100%;
  flex: auto;
}
#context-menu {
  position: absolute;
  border: 1px solid #666;
  background-color: #fff;
  box-shadow: 0 0 3px #666;
  flex-direction: column;
  width: 130px;
}
#context-menu:not([hidden]) {
  display: flex;
}
#context-menu button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 3px 6px;
  font-size: 15px;
  text-align: left;
}
#context-menu button:hover {
  font-weight: bold;
}
#context-menu span {
  border-top: 1px solid #666;
  margin-top: 4px;
  padding-top: 4px;
}
@media print {
  .pane,
  #toggle,
  #tip {
    display: none;
  }
  main > .item {
    position: static;
  }
}
